{% extends 'base.html.twig' %}

{% block title %}CRUD Create{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                {{ include('pages/commonForm.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
